[remote "solana-labs"]
       url = git@github.com:solana-labs/solana.git
       fetch = +refs/heads/*:refs/remotes/solana-labs/*
[branch "master"]
        remote = anza-xyz
        merge = refs/heads/master
[remote "anza-xyz"]
        url = git@github.com:anza-xyz/agave.git
        fetch = +refs/heads/*:refs/remotes/anza-xyz/*
[remote "pyth-network"]
        url = git@github.com:pyth-network/pythnet.git
        fetch = +refs/heads/*:refs/remotes/pyth-network/*
[remote "PowerLedger"]		g
        url = git@github.com:PowerLedger/powr.git
        fetch = +refs/heads/*:refs/remotes/PowerLedger/*
[remote "jito-foundation"]
        url = git@github.com:jito-foundation/jito-solana.git
        fetch = +refs/heads/*:refs/remotes/jito-foundation/*
[branch "powerledger"]
        remote = PowerLedger
        merge = refs/heads/master
[remote "mantis"]
        url = git@github.com:ComposableFi/mantis-solana.git
        fetch = +refs/heads/*:refs/remotes/mantis/*
[remote "mirrorworld-universe"]
        url = git@github.com:mirrorworld-universe/hypergrid-grid.git
        fetch = +refs/heads/*:refs/remotes/mirrorworld-universe/*
[remote "xen"]
        url = git@github.com:FairCrypto/solanalabs.git
        fetch = +refs/heads/*:refs/remotes/xen/*
[remote "tachyon"]
        url = git@github.com:x1-labs/tachyon.git
        fetch = +refs/heads/*:refs/remotes/tachyon/*
